@charset "UTF-8";
/*
    em HTML é id    = em CSS é # (só pode ter um elemento)
    em HTML é class = em CSS é . (pode ter varios elementos)
    o nome das classes deve ser dado de acordo com a função da classe.

    Um documento HTML só deve ter um único ID

*/

body{
    
    font-family: 'Times New Roman', Times, serif;
    background-color: #1b1b1b;
    

}

h1{
    color: #ffffff;
   

}
h1#principal{
    
    color: black;
    text-align: center;
    background-color: white;
    font-weight: bolder;
}
h2{

    color: aqua;
}

p{
    color: #6494AA;
    font-weight: bolder;

}
.basico{
    color: #80e972;

}
.intermediario{
    color: #dde972;
}
.avancado{
    color: #e97272;
}
.destaque{
    background-color: white;

}